html,
body {
  height: 100%;
}

body {
  font: 18px sans-serif;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redux {
  background: yellowgreen;
  text-align: center;
  padding: .1em;

  button {
    margin: .2em;
    padding: 1em;
    font-size: 120%;
    min-width: 3em;
    cursor: pointer;
  }
}

.col-md-4 {
  width: 450px !important;
}